<div class="box">
  <h1>LOGIN</h1>

  <form action="/users/login" method="post">
    Email<input type="text" name="email" />
    Password<input type="password" name="password" />
    <br>
    <input type="submit" value="LOGIN" class="login-register">
  </form>
  <h2>GITHUB?</h2>
  <button id="login-github" onclick="location.href='users/register-github'">REGISTER / LOGIN GITHUB</button>

  <h2>NEW USER?</h2>
  <button onclick="location.href='/register'" class="register-button">GO REGISTER</button>
</div>